.pokemon-details-name{
    font-size: large;
    color: #edf2fb;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
    margin-top: 0.8rem;
}
.pokemon-details-name > span{
    letter-spacing: 0.6rem;
}

.pokemon-details-wrapper{
    border: 2px solid;
    text-align: center;
    padding: 40px 80px;
    border-radius: 20px;
    background-color: #38040e   ;
}
.pokemon-details-types{
    display: flex;
    margin-top: 2rem;
    font-size: x-large;
    justify-content: space-evenly;
}
.pokemon-details-types > div{
    
    border-radius: 50px;
    background-image: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
    box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
    outline: none;
    cursor: pointer;
    letter-spacing: 0.1rem;
    border: none;
    font-size: 17.5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 27px;
    margin: 2px;
}
.pokemon-details-image{
    width: 150px;
    /* height: 380px; */
}
/* .TypesOfPokemon{
    margin: 20px 0px;
} */